@import url(./__image/comment__image.css);
@import url(./__quote/comment__quote.css);
@import url(./__author/comment__author.css);

.comment {
    max-width: 382px;
    display: flex;
    flex-direction: column;
    margin-right: 19px;
}

.comment:last-child {
    margin-right: 0px;
}