@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);

.header {
    display: flex;
    max-width: 90%;
    margin: 30px auto 0px;
    justify-content: space-between;
    align-items: center;
}

/* @media screen and (min-width: 1280px) {
    .header {
        width: 1184px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 720px;
    }
} */

@media screen and (max-width: 426px) {
    /* .header {
        width: 343px;
    } */
    .header__logo {
        width: 142px;
    }
    .header__lang {
        font-size: 18px;
        line-height: 96.82%;
    }
}

/* @media screen and (max-width: 320px) {
    .header {
        width: 288px;
    }
} */